.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modeToggle{
    margin-right: 0.5rem;
}