.card {
    height: 80vh;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.cardContent {

    width: 90%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    div {
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
            text-align: center;
            margin-bottom: 0.5rem;
        }
        .button {
            width: 100%;
        
            cursor: pointer;
        }
    }

    .cDiv{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        -webkit-touch-callout: none;  /* iPhone OS, Safari */
        -webkit-user-select: none;    /* Chrome, Safari 3 */
        -khtml-user-select: none;     /* Safari 2 */
        -moz-user-select: none;       /* Firefox */
        -ms-user-select: none;        /* IE10+ */
        user-select: none;  

        
        
        .c{

            font-family: "Tektur", sans-serif;
            color: #0bafb4;
            background-color: transparent;
            text-align: center;



            font-size: 7rem;

        
        }

        .c1 {
            animation: spinC1 3s ease-in-out 1 forwards;
        }
        .c2 {
            animation: spinC2 3s ease-in-out 1 forwards;
        }
    }
}

.convexa {
    font-family: "Tektur", sans-serif;
    letter-spacing: 3px;
    font-size: x-large;
    color: #0bafb4;

    margin-top: -2rem;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;  
}

@keyframes  spinC1{
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(-135deg);
        margin-right: -0.75rem;
    }
}
@keyframes  spinC2{
    from {
        transform: rotateZ(180deg);
    }
    to {
        transform: rotateZ(315deg);
        margin-left: -0.75rem;
    }
}